* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #0d0d0d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
  }
  
  h1 {
    font-size: 64px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  h1::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 100%;
    height: 5px;
    background: #fbff00;
    border-radius: 4px;
    
  }
  
  .subtitle {
    color: #888;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
  }
  
  .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  border: 3px solid #333;
  border-radius: 16px;
  padding: 18px 25px;
  margin: 15px auto;
  width: 300px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
  
  }
  .icon {
    font-size: 22px;
  }
  .fa-discord{
    color: #5b76da;
  }
  .arrow {
    color: #888;
    transition: 0.3s;
  }
  .button:hover {
    background: #201e1e;
  }